@import (less) "../bower_components/bootstrap/less/bootstrap.less";
@import (less) "../bower_components/font-awesome/less/font-awesome.less";

html, body {
  height: 100%;
  background: none;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.rounded-border{
  border-radius: 10px;
}

.autoIQ-app{
  margin: 10px auto 10px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

	.navbar-default {
		margin-left: 14px;
		margin-right: 14px;
	}
	.page-header{
		margin-top: 80px;
	}
}
.nopadding{
  padding: 0px;
}

.main-container .navbar-brand {
  height: 80px;
}

.main-container .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-container .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.myGrid {
  width: auto;
  height: 200px;
}
.theme-selector {
	margin-right: 20px;
}
.navbar-brand > img {
	height: 100% !important;
	padding: 15px !important;
	width: auto !important;
}
.brand-image {
	display: block;
	max-height: 50px;
	max-width: 100px;
}
#floating_alert {
	position: absolute;
	top: 100px;
	right: 10px;
	z-index: 5000;
}
#footer {

	.copyright {

		padding: 10px 0;

		color: #FFF;

		line-height: 100%;
		font-size: 12px;

		a, a:link, a:visited {
			color: #FFF;
		}

		.important-account-notice {
			color: #FFF;
			font-weight: bold;
		}
		.copyright-text-color{
			color : #aaa;
		}

	}

}