<div class="container main-container">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/img/AutoiQ_by_OC_2016_RGB.png" alt="AutoIQ by OpenConnect">
                </a>
            </div>
            <div id="navbar3" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li
                              ng-model="selectedTheme"
                              ng-click="selected(key)"
                              ng-repeat="(key, value) in themes">{{key}}
                            </li>
                        </ul>
                    </li>
                    <!--<li class="dropdown">
                        <button
                          class="btn btn-primary dropdown-toggle"
                          id="theme" type="button"
                          data-toggle="dropdown">{{selectedTheme}}
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-model="selectedPeeps" ng-click="selected(theme)" ng-repeat="(key, value) in themes">{{key}}</li>
                        </ul>
                    </li>-->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
    <div class="container">
        <h3>Basic widget Examples</h3>
        <div class="grid row-sm-12 row-md-12">
            <div ui-grid="{ data: myData }" class="myGrid"></div>
        </div>
        <div class="row">
            <h3>HighCharts Examples</h3>
            <div class="col-sm-6 col-md-6">
                <highchart id="chart1" config="chartConfig"></highchart>
            </div>
            <div class="col-sm-6 col-md-6">
                <highchart id="chart2" config="lineChartConfig"></highchart>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h3>DatePicker Examples</h3>
                <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

                <h4>Inline</h4>
                <div style="display:inline-block; min-height:290px;">
                    <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                </div>

                <hr />
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
            </div>
            <div class="col-sm-6 col-md-6">
                <h4>Pager</h4>
                <pre>You are currently on page {{currentPage}}</pre>
                <ul uib-pager total-items="totalItems" ng-model="currentPage"></ul>
            </div>
        </div>
    </div>
</div>