<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AutoIQ</a>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Theme
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li
            ng-model="selectedTheme"
            ng-click="selected(key)"
            ng-repeat="(key, value) in themes">{{key}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div >




    <div class="container">
      <div class="row">

        <div class="grid col-sm-6 col-md-6">
          <h3>Basic widget Examples</h3>
            <div ui-grid="{ data: myData }" class="myGrid"></div>
        </div>


          <div class="col-sm-6 col-md-6">
            <h3>HighCharts Examples</h3>
              <highchart id="chart1" config="chartConfig"></highchart>
          </div>
          <!-- <div class="col-sm-6 col-md-6">
              <highchart id="chart2" config="lineChartConfig"></highchart>
          </div> -->
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h3>DatePicker Examples</h3>
                <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

                <!-- <h4>Inline</h4> -->
                <div >
                    <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                </div>
<!--
                <hr />
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button> -->
            </div>
            <div class="col-sm-6 col-md-6">
                <!-- <h4>Pager</h4>
                <pre>You are currently on page {{currentPage}}</pre>
                <ul uib-pager total-items="totalItems" ng-model="currentPage"></ul> -->

                <h3>Form Examples</h3>
                <form>
                  <fieldset class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    <small class="text-muted">We'll never share your email with anyone else.</small>
                  </fieldset>
                  <fieldset class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </fieldset>
                  <fieldset class="form-group">
                    <label for="exampleSelect1">Example select</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </fieldset>
                  <!-- <fieldset class="form-group">
                    <label for="exampleSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleSelect2">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </fieldset>
                  <fieldset class="form-group">
                    <label for="exampleTextarea">Example textarea</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                  </fieldset>
                  <fieldset class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                    <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                  </fieldset> -->
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      Option one is this and that&mdash;be sure to include why it's great
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Option two can be something else and selecting it will deselect option one
                    </label>
                  </div>
                  <div class="radio disabled">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                      Option three is disabled
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Check me out
                    </label>
                  </div>
                  <button type="submit" class="btn btn-default">Reset</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="submit" class="btn btn-danger">Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>
